
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.display-flex{
    display: flex;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    list-style: none;
    margin-right: 30px;

}
.nav-link{
        text-decoration: none;
        font-weight: 500px;
        
    }

.text-gray{
    color:#424242;
}   
.text-light-gray{
    color: #727272;

} 
.header-background-color{
    background-color:rgba(255, 144, 14, 0.1);
}
.navbar,.banner{
    max-width: 800px;
    margin: 0px auto;
}


/* video-03 */
/* video-03 */
.brand-name{
    font-weight: bold;
    font-size: 2rem;
}
.banner-image{
    max-width: 800px;
    margin-top: 30px;
    width: 100%;
}
/* banner related style */
.banner-content{
    max-width: 600px;
    margin: 0px auto;
    text-align: center;

}
.banner-title{
    font-weight: bold;
    font-size: 3rem;
}
.primary-button{
    background-color: #FF900E;
    color: white;
    padding: 10px 15px;
    font-size: 1.2rem;
    font-weight: 600px;
    border-radius: 4px;
    border: none;
}



/* video-04 */
/* video-04 */
main{
    max-width: 800px;
    margin: 0px auto;
}
.first-section{
    align-items: center;
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;  
    /* width: 50%;  */
}
.team-image img{
    width: 100%;
}
main>section{

    margin-top: 70px;
}
.our-feature{
    margin-left: 50px;
    width:50%
   
   
}
#quick-list{
    font-weight: 400;
}
.section-title{
    font-size: 2rem;
    font-weight: 700;
}

/* video-05 */
/* video-05 */
#Features{
    color:#FF900E
}

/* video-05 */
/* video-05 */
/* nothing need any css option */

/* video-06 */
/* video-06 */
/* card-related-style */

.fact-card{
    border: 1px solid red;
    width: 180px;
    height: 180px;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    gap:10px
   
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
 
.fact-number{
    font-size: 1.2rem;
    font-weight: 600;

    margin-top: 0px;
    margin-bottom:0px;
}
.fact-name{
    font-size: 1.2rem;
    font-weight: 600;
    color: #727272;
    margin-top: 0px;

}
.fact-description{
    max-width:500px;
}


/* video-07 */
.sponser-info{
    max-width: 540px;
    margin: 20px auto;
    text-align: center;
}
.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponsor-company img{
    filter: grayscale(100%);
}

/* video-08 */
/* video-08 */
#feature-start-title{
    border-left: 10px solid #FF900E ;
    padding-left: 10px;
}
.feature-card{
   padding: 10px;
   border-radius: 2px;
   box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.06);
   margin-bottom: 10px;

}
.feature-title{
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
     
}
.feature-start{
    gap: 50px;
}


/* niser 3 item support thaka paysi */

.architect-img {
    width: 50%;
}
.architect-img img{
    width:100%
}

.feature-text{
    width:50%;
}

/* video-09 */
/* video-09 */

#experience-badge{
    padding: 20px 20px;
    font-size: 1rem;
    font-weight: 400;
    margin-left: -50px;
    margin-top: -100px;

}
#experience-year{
    font-size: 2rem;
    font-weight: 700;
}
   




/* responsive media query */
@media screen and (min-width:400px) and (max-width:996px){
    .navbar,.nav-links,.first-section,.feature-start{

        flex-direction: column;
        }
        
     .team-image,.card-container{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        width: 80%;
     }
     .card-container{
        justify-items: center;
        margin:0px auto;
        gap: 10px;
     }
     .first-section{
        margin-left: 0px;
     }  
     .sponsor-company,.card-container{
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
     }
      .our-feature{
        margin: 0px auto;
        gap: 0px;     
     }
   
     #experience-badge{
        margin-top:10px ;
        margin-left:10 ;
     }
}